h1{
  color: white;
  font-family: 'Josefin Slab', serif;
}

header, footer{
  text-align: center;
  background-color: #708090;
  padding: 20px;
}

header {
  margin-bottom: 40px;
}

footer {
  margin-top: 40px;
}

.mainWrapt {
  padding: 20px 40px;
}

.onlineRow {
  background-color: #778899;
  padding: 20px;
  margin: 1rem;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.offlineRow {
  background-color: #C0C0C0;
  padding: 20px;
  margin: 1rem;
  color:white;
   
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

a,span {
  color: white;
}


.filterDropdown {
  width: 100px; 
}

.toolbar {
  width: inherit;
  font-size: 16px;
  color: #fff;
  background: rgba(43,57,133, 0.85);
  text-align: center;
}

