<!DOCTYPE html>
<html ng-app="twitchApp">
<head>
  <meta charset="UTF-8">
     <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Twitch TV stream</title>
</head>

<body ng-controller = "twitchController as vm" class='mainWrapt'>

<header>
 <h1>Twitch TV - Angular app</h1>
</header>

 <div layout='row' layout-xs='column' layout-align-xs='center center' class='toolbar'>
      <div flex='30'>
        <h3>CHANNEL LIST</h3>
      </div>
      <div flex='60' style='text-align: right;'>
        <span><em>Filter by channel status</em>&nbsp;
         <md-input-container>
          <md-select ng-model="filterStatus" class='filterDropdown' aria-label='select a status to filter'>
            <md-option ng-repeat='option in vm.statusArray' value='{{option.value}}' ng-selected='$first' aria-label='{{option.name}}'>
              {{option.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div> 
   </div>

  <md-content>
  <div class = "box" ng-repeat="channel in vm.channelInfoArray"
                                | filter: {status: filterStatus}
                                | orderBy: "name": reverse>
                               
    <div flex class="offlineRow" ng-if="channel.url === undefined">
      {{channel.name}} - {{channel.status}}
    </div>
      <div flex layout = 'row' class='onlineRow' ng-if='channel.url !== undefined'>     
       <div flex='15' layout='column' layout-align='center left'>
          <a href='{{channel.url}}' target='_blank' aria-label='{{channel.name}}'>
            <img src='{{channel.logo}}' class='logo'>
          </a>
          </br>
           {{channel.status}}
               
       <div flex='85' layout='column'>
        <a href='{{channel.url}}'><h3>{{channel.name}}</h3></a>
        <strong>{{channel.game}}:</strong> 
        Streaming: {{channel.gameStatus}}

       </div>
     </div>
    <br>
  </div>
 </div>
</md-content>

  <footer>Created by <a href='https://www.linkedin.com/in/marina-shemesh-98133311/' target='_blank'>Marina Shemesh</a></footer>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>
<script src="scripts/app.js"></script>
<script src="components/twitchController.js"></script>
<script src="components/twitchFactory.js"></script>
</body>
</html>